/*.privacy-question .list-group .list-group-item .form-group .form-control-1 {*/
    /*border: 1px solid #CED0DA;*/
    /*border-radius: 4px;*/
    /*float: right;*/
    /*width: 130px;*/
/*}*/
/*.has-feedback .form-control-1 {*/
    /*padding-left: 42.5px;*/
    /*padding-right: 12px;*/
/*}*/
/*.form-control-1-feedback {*/
    /*left: 0;*/
    /*right: auto;*/
/*}*/
/*.input-group .form-control-1 {*/
    /*float: right;*/
/*}*/
/*.input-group .form-control-1:last-child,*/
/*.input-group-addon:last-child,*/
/*.input-group-btn:last-child > .btn,*/
/*.input-group-btn:last-child > .btn-group > .btn,*/
/*.input-group-btn:last-child > .dropdown-toggle,*/
/*.input-group-btn:first-child > .btn:not(:first-child),*/
/*.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {*/
    /*border-bottom-right-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
    /*border-bottom-left-radius: 0;*/
    /*border-top-left-radius: 0;*/
/*}*/
/*.input-group .form-control-1:last-child,*/
/*.input-group-addon:last-child,*/
/*.input-group-btn:last-child > .btn,*/
/*.input-group-btn:last-child > .btn-group > .btn,*/
/*.input-group-btn:last-child > .dropdown-toggle,*/
/*.input-group-btn:first-child > .btn:not(:first-child),*/
/*.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {*/
    /*border-bottom-left-radius: 4px;*/
    /*border-top-left-radius: 4px;*/
    /*border-bottom-right-radius: 0;*/
    /*border-top-right-radius: 0;*/
/*}*/